html {
  box-sizing: border-box;
  font-family: sans-serif;
  color: gray;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#user-info {
  width: 400px;
}

#name, #email {
  display: inline-block;
  margin: 5px;
}

#motive {
  resize: none;
}